<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Formulario de Pago
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre en la Tarjeta</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre en la tarjeta">
                        </div>
                        <div class="form-group">
                            <label for="numero-tarjeta">Número de Tarjeta</label>
                            <input type="text" class="form-control" id="numero-tarjeta" placeholder="Ingrese el número de tarjeta">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="expira">Fecha de Expiración</label>
                                <input type="text" class="form-control" id="expira" placeholder="MM/YY">
                            </div>
                            <div class="col">
                                <label for="cvv">CVV</label>
                                <input type="text" class="form-control" id="cvv" placeholder="CVV">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="monto">Monto a Pagar</label>
                            <input type="text" class="form-control" id="monto" placeholder="Ingrese el monto">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Pagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
