body {
  background-image: url('../../../assets/img/fondopago.png');
  background-size: cover;
  background-position: center;
  color: #212224;
  padding-top: 2em;
padding-bottom: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84.3vh;
}

#procesar_pago {
  background-color: #212224;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid yellow;

}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: white;
}

button {
  margin-top: 20px;
}
.amarillo{
    color: yellow;
    font-size: 2em;

  }
p{
color: white;
font-size: 1.4em;

}
.btn-vermas {
    background-color: yellow;
    color: black;
    width: 30%;
    text-align: center;
    border-color: #000000;
    border-width: 2px;


  }
  button {
  margin: 0 auto;
  display: block;
}
