<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario de Pago</title>

</head>
<body>

<div class="container">
  <div id="procesar_pago">
    <form  >
      <h2 class="amarillo">Detalles de Pago</h2>
      <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>

      <div class="form-group">
          <label for="metodo_pago">Método de Pago:</label>
          <select class="form-control" id="metodo_pago" name="metodo_pago" required>
              <option value="">Selecciona un método de pago</option>
              <option value="tarjeta">Tarjeta de Crédito/Débito (Visa)</option>
          </select>
          <p>Por problemas con la página web, solo se puede pagar con tarjeta de crédito.</p>
      </div>

      <div id="opcion_tarjeta" class="opcion-pago">
          <div class="form-group">
              <label for="nombre_propietario">Nombre del Propietario:</label>
              <input type="text" class="form-control" id="nombre_propietario" name="nombre_propietario" required>
          </div>

          <div class="form-group">
              <label for="num_cuenta">Número de Cuenta:</label>
              <input type="text" class="form-control" id="num_cuenta" name="num_cuenta" required>
          </div>

          <div class="form-group">
              <label for="cvv">CVV:</label>
              <input type="text" class="form-control" id="cvv" name="cvv" placeholder="CVV" required>
          </div>

          <div class="form-group">
              <label for="fecha_caducidad">Fecha de Caducidad:</label>
              <input type="text" class="form-control" id="fecha_caducidad" name="fecha_caducidad" placeholder="MM/AA" required>
          </div>
      </div>

      <button type="submit" class="btn btn-primary" class="btn-vermas">Pagar</button>
    </form>
  </div>
</div>

</body>
</html>
