<body>
<div class="container">
  <div class="container-background">
    <h1 class="mt-5 yellow-text" class="amarillo"><strong>CONTÁCTANOS</strong></h1>
    <p class="yellow-text">Ponte en contacto con nosotros para cualquier pregunta o consulta.</p>
    <div class="row">
      <div class="col-md-6">
        <form action="#" method="POST">
          <div class="form-group">
            <label for="nombre" class="yellow-text">Nombre:</label>
            <input type="text" class="form-control yellow-text" id="nombre" placeholder="Ingresa tu nombre" required>
          </div>
          <div class="form-group">
            <label for="email" class="yellow-text">Email:</label>
            <input type="email" class="form-control yellow-text" id="email" placeholder="Ingresa tu email" required>
          </div>
          <div class="form-group">
            <label for="mensaje" class="yellow-text">Mensaje:</label>
            <textarea class="form-control yellow-text" id="mensaje" rows="5" placeholder="Ingresa tu mensaje" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn-vermas">Enviar</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h3 class="yellow-text" class="amarillo"><strong>Información de Contacto</strong></h3>
        <p class="yellow-text"><strong>Dirección:</strong> Carrer del Músic Peydró, 44, Ciudad: Valencia, País: ESPAÑA</p>
        <p class="yellow-text"><strong>Teléfono:</strong> +34 85 444 444</p>
        <p class="yellow-text"><strong>Email:</strong> titanfitgym.infotitanfit.com</p>
      </div>
    </div>
  </div>
</div>

</body>
