<div class="container">
  <h1 class="mt-5">FORMULARIO</h1>
  <p>Ponte en contacto con nosotros para cualquier pregunta o consulta.</p>
  <div class="row">
    <div class="col-md-6">
      <form action="#" method="POST">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" required>
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <textarea class="form-control" id="mensaje" rows="5" placeholder="Ingresa tu mensaje" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
    <div class="col-md-6">
      <h3>Información de Contacto</h3>
      <p><strong>Dirección:</strong> Carrer del Músic Peydró, 44, Ciudad: Valencia, País: ESPAÑA</p>
      <p><strong>Teléfono:</strong> +34 85 444 444</p>
      <p><strong>Email:</strong> titanfitgym.infotitanfit.com</p>
    </div>
  </div>
</div>
