<!DOCTYPE html>
<html>
<head>
    <title>TitanFit Gym</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Bienvenido a TitanFit Gym</h1>
        <h2 class="mt-4">Sobre nosotros</h2>
        <p>TitanFit Gym es tu lugar para mantenerte en forma y saludable. Ofrecemos una variedad de clases y equipos para ayudarte a alcanzar tus objetivos de fitness.</p>
        <h2 class="mt-4">Nuestros servicios</h2>
        <ul>
            <li>Acceso a instalaciones estándar. Clases básicas de grupo. Equipo de entrenamiento estándar. </li>
            <li>Asesoramiento nutricional básico.</li>
            <li>Servicio Intermedio</li>
            <li>Acceso a todas las instalaciones estándar y avanzadas. Amplia variedad de clases grupales. </li>
            <li>Equipo de entrenamiento avanzado. Sesiones de entrenamiento personalizadas ocasionalmente. </li>
            <li>Asesoramiento nutricional más detallado.</li>
            <li>Servicio Avanzado</li>
            <li>Acceso exclusivo a áreas VIP y servicios de lujo. Clases grupales de élite. 
                Entrenamiento personalizado regular. Uso de equipo de última generación. 
                Sesiones de entrenamiento personalizadas frecuentes. 
                Servicios de spa y recuperación post-entrenamiento.</li>
        </ul>
        <h3>Quienes somos</h3>
        <ul>
            <li>Sergi Company</li>
            <li>Jorge Caballero</li>
            <li>Ruben Flor</li>
            <li>Felix Aparicio</li>
            <li>Raul Ferris</li>
            <li>Alejandro Estrems</li>
        </ul>
        <h2 class="mt-4">Información de contacto</h2>
        <p>Dirección: Carrer del Músic Peydró, 44, Ciudad: Valencia, País: ESPAÑA</p>
        <p>Telefono +34 85 444 444</p>
        <p>Email: titanfitgym.infotitanfit.com</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>