<div class="footer">
  <footer class="text-white py-3 " style="background-color: #212224;">
         <div class="social">
          <!-- <p>Síguenos en Redes Sociales</p><a href="https://www.instagram.com/" target="_blank"><img src="./assets/img/instagram-icon.png" alt="Instagram" width="30px" height="30px"></a><a href="https://www.youtube.com/" target="_blank"><img src="./assets/img/youtube-icon.png" alt="Instagram" width="30px" height="30px"></a><a href="https://www.facebook.com/" target="_blank"><img src="./assets/img/facebook-icon.png" alt="Facebook" width="30px" height="30px"></a> -->
         </div>
    Copyright © 2024. Todos los derechos reservados
    <p class="blanco"> <a routerLink="/privacypolicy" class="blanco">Política de privacidad</a></p>
</footer>
</div>
