<body>

<div class="container">
  <div class="row justify-content-space-evenly">
    @for (servicio of bdservicio.servicios; track servicio; let idx = $index) {
      <div class="col-md-4">
      <div class="scrollable-card">
        <div class="card h-100 d-flex">
          <img src="{{servicio.imagen}}" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title" class="amarillo"><strong>{{servicio.nombre}}</strong></h5>
              <p class="card-text" class="blanco">{{servicio.contenido}}</p>
              <p class="card-text" class="blanco">{{servicio.precio}}</p>
            </div>
            <a [routerLink]="'/servicio/' + idx" class="btn btn-primary btn-vermas">Ver más</a>
          </div>
        </div>
      </div>
    </div>
    }



  </div>
</div>
</body>
