<div class="card mb-3">
  <img src="./assets/img/ServicioBasico.png" class="card-img-top" width="10px" style="height: auto; width: 700px;">
  <div class="card-body">
    <h5 class="card-title">Servicio Básico</h5>
    <p class="card-text">.</p>
    <p class="card-text"><small class="text-body-secondary">Acceso a instalaciones estándar.
      Clases básicas de grupo.
      Equipo de entrenamiento estándar.
      Asesoramiento nutricional básico.</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="./assets/img/ServicioIntermedio.png" class="card-img-top" width="10px" style="height: auto; width: 700px;">
  <div class="card-body">
    <h5 class="card-title">Servicio Intermedio</h5>
    <p class="card-text">.</p>
    <p class="card-text"><small class="text-body-secondary">Acceso a todas las instalaciones estándar y avanzadas.
      Amplia variedad de clases grupales.
      Equipo de entrenamiento avanzado.
      Sesiones de entrenamiento personalizadas ocasionalmente.
      Asesoramiento nutricional más detallado.</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="./assets/img/ServicioAvanzado.png" class="card-img-top" width="10px" style="height: auto; width: 700px;" display="flex">
  <div class="card-body">
    <h5 class="card-title">Servicio Avanzado</h5>
    <p class="card-text">.</p>
    <p class="card-text"><small class="text-body-secondary">Acceso exclusivo a áreas VIP y servicios de lujo.
      Clases grupales de élite.
      Entrenamiento personalizado regular.
      Uso de equipo de última generación.
      Sesiones de entrenamiento personalizadas frecuentes.
      Servicios de spa y recuperación post-entrenamiento.</small></p>
  </div>
</div>