<body>

  <div class="container">
    <h1 class="mt-5 amarillo"><strong>Política de Privacidad de TitanFit</strong></h1>
    <h2 class="amarillo"><strong>Última actualización: 5 de mayo de 2024</strong></h2>
    <p class="lead"><strong>TitanFit se compromete a proteger su privacidad. Esta Política de Privacidad describe cómo TitanFit recopila, utiliza y comparte la información que recopilamos de usted cuando visita nuestro sitio web, <a href="www.titanfit.com" class="yellow-text">www.titanfit.com</a> (en adelante, el "Sitio").</strong></p>
    <h3 class="amarillo"><strong>1. Información que recopilamos</strong></h3>
    <p><strong>Cuando visita nuestro Sitio, podemos recopilar cierta información automáticamente, incluidos datos sobre su dispositivo y su actividad de navegación en nuestro Sitio utilizando tecnologías como cookies y análisis web. También podemos recopilar información personal que usted elija proporcionarnos al registrarse en nuestro Sitio, como su nombre, dirección de correo electrónico, número de teléfono y preferencias de actividad física.</strong></p>
    <h3 class="amarillo"><strong>2. Uso de la información</strong></h3>
    <p><strong>Utilizamos la información que recopilamos para proporcionarle los servicios que solicita, como programar clases, procesar pagos y enviarle comunicaciones relacionadas con su membresía en TitanFit. También utilizamos esta información para mejorar y personalizar su experiencia en nuestro Sitio, así como para fines de marketing y publicidad.</strong></p>
    <h3 class="amarillo"><strong>3. Compartir de la información</strong></h3>
    <p><strong>No vendemos ni alquilamos su información personal a terceros. Sin embargo, podemos compartir su información con proveedores de servicios que nos ayuden a operar nuestro Sitio o a cumplir con sus solicitudes. También podemos divulgar su información en respuesta a solicitudes legales, cumplir con la ley o proteger nuestros derechos, propiedad o seguridad, así como los de nuestros usuarios u otros.</strong></p>
    <h3 class="amarillo"><strong>4. Seguridad de la información</strong></h3>
    <p><strong>Tomamos medidas razonables para proteger la información personal que recopilamos contra accesos no autorizados, divulgación o destrucción. Sin embargo, tenga en cuenta que ninguna transmisión de datos a través de Internet o método de almacenamiento electrónico es completamente seguro.</strong></p>
    <h3 class="amarillo"><strong>5. Sus derechos</strong></h3>
    <p><strong>Usted tiene derecho a acceder, corregir, actualizar o eliminar su información personal en cualquier momento. También puede optar por no recibir comunicaciones de marketing de nuestra parte siguiendo las instrucciones de exclusión incluidas en dichas comunicaciones.</strong></p>
    <h3 class="amarillo"><strong>6. Cambios en esta política</strong></h3>
    <p><strong>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le recomendamos que revise periódicamente esta página para estar al tanto de cualquier cambio. Su uso continuado de nuestro Sitio después de la publicación de cambios en esta Política de Privacidad constituirá su aceptación de dichos cambios.</strong></p>
    <h3 class="amarillo"><strong>7. Contáctenos</strong></h3>
    <p><strong>Si tiene alguna pregunta sobre esta Política de Privacidad, comuníquese con nosotros a través de <a href="mailto:info@titanfit.com" class="yellow-text">info.titanfit.com</a> o por correo postal a [Dirección Postal: Calle Principal, Ciudad, País].</strong></p>
  </div>

</body>
