
<div class="container-fluid ">
  <div class="row">
    <div class="col-2 mb-5  my-5 p-5">
      <div class="card" style="width: 50rem;">

        <h1 class="card-header">
          {{bdata.nombre}}
        </h1>
        <img src="{{bdata.imagen}}" class="card-img-top img-fluid mx-auto" >
          <li id="contenido" class="list-group-item">{{bdata.contenidoex}}</li>
          <li id="contenido" class="list-group-item">{{bdata.precio}}</li>
          <button routerLink="/card" class="btn btn-primary" class="btn-vermas">Volver atrás</button>
          <br>
          <button routerLink="/pago" class="btn btn-primary btn-vermas">Suscribirse</button>
      </div>
    </div>
  </div>
</div>

