* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
}

.container-fluid{
  background-image: url("../../../assets/img/ServicioAvanzado.png");
  height: 80em;

}

.card{
  background-color: #212224;
  padding: 20px;
  border-radius: 10px;
  color: black;
  border: 3px solid yellow;
  text-align: center;
  margin-left: 32em;
}

.card-header{
  border-bottom: 2px solid yellow;
  color: yellow;
  font-size: 1.4em;
}

#contenido{
  background-color: #212224;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.25em;
}

img{
  width: 20em;

}

.btn-vermas {
  background-color: yellow;
  color: black;
  width: 100%;
  text-align: center;
  border-color:  #000000;
  border-width: 2px;
}
