
<div class="container-fluid">
  <div class="row">
    <div class="col-2 mb-5  my-5 p-5">
      <div class="card" style="width: 50rem;">

        <div class="card-header">
          {{bdata.nombre}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{bdata.contenidoex}}</li>
          <li class="list-group-item">{{bdata.precio}}</li>
          <li class="list-group-item">{{bdata.imagen}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

